/* 
 * Select component css
 */

.user_select {
  max-width: 100%;
  width: 400px;
}

/* 
 * Profile view css
 */

.profile_view_wrap {
  display: flex;
  justify-content: center;
}

.profile_view {
  margin-top: 10px;
  width: 400px;
  max-width: 100%;
}

.profile_picture_wrap {
  display: flex;
  justify-content: center;
}

.profile_picture {
  border-radius: 50%;
}

/* 
 * Edit form css
 */

.form_field {
  width: 100%;
  margin-bottom: 5px;
}

.form_field_wrap {
  margin-bottom: 10px;
}

.field_label {
  display: block;
  margin-bottom: 4px;
}

.form_field_error {
  color: rgb(189, 22, 22);
  display: block;
  margin-top: 1px;
  margin-bottom: 5px;
  font-size: 0.8em;
}

.edit_form {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* 
 * Edit form modal css
 */

.edit_form_modal_actions {
  display: flex;
  justify-content: space-between;
}

.edit_user_form_modal {
  width: 350px;
  max-width: 95%;
}
